.form-control {
    width: 250px;
    display: inline-block;
}
label {
    display: block;
}

.user-image {
    width: 90px;
    position: absolute;
    top: 138px;
    left: 285px;
}

table {
    margin-top: 70px;
}